body {
    background-color: rgb(118, 92, 120);
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 30px;
}

.formatText {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
}

#joke {
    border: 5px solid rgb(16, 29, 55);
    background-color: rgb(118, 125, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: rgb(255, 230, 204);
}

#toggleJokes {
    background: #6DC9CF;
border: 6px solid #5283BB;
box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
border-radius: 24px;
font-family: 'Roboto', sans-serif;
font-size: 25px;
color: #184f53;
letter-spacing: 0.38px;
padding: 20px;
}

.test {
    margin-bottom: 200px;
}